body {
	color:#fff;
	background:#333;
	font-family:Courier;
	width:960px;
	margin:auto;
}


header, main, footer {
	clear:both;
	margin-left:0;
	
}

header, main h1 {
	color:#00ff00;
}

a, a:visited {
	color:#c0c0c0;
	text-decoration:none;
}

a:hover {
	color: #77ccee;
	text-decoration: none;
}

#nav {
	list-style: none;
	width:960px;
	margin-left:-40px;
	
}

#nav li {
	display:block;
	float: left;
	padding:5px;
	margin-bottom:20px;
	margin-right:10px;
	height:30px;
	width:110px;
	text-align:center;
	font-size:13px;
	border: 2px solid white;
	border-radius:10px;
}